/* 


.logout {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  font-size: 22px;
  max-width: 500px;
  min-height: 672px;
  margin: 0 auto;
  border-radius: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.logout > input {
  margin-top: 200px;
}

input {
  margin: 0 auto;
  background-color: black;
  opacity: 50%;
  color: white;
  margin-top: 10px;
  width: 300px;
  height: 59px;
  font-size: 22px;
  margin-bottom: 14px;
  max-width: 527px;
  padding: 0 10%;
}

.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

i {
  position: absolute;
  top: 38%;
  right: 16%;
}
i:hover {
  color: #00fcb6;
  cursor: pointer;
}

button {
  width: 300px;
  height: 50px;
  margin: 0 auto;
}
 */






* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: rgb(0 0 0, 0.87);
  box-sizing: border-box;
}
.App {
  height: 600px;
  width: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
}
.header-container {
  height: 20%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container h1 {
  font-size: 3rem;
}
.header-buttons {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
button {
  padding: 10px;
  background: white;
  border: transparent;
  font-size: 20px;
  border-radius: 50px;
  color: black;
}
button:hover {
  background-color: beige;
}
/*?========================*/
.register-container,
.front-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-container input,
.register-container button,
.front-container input,
.front-container button {
  width: 40%;
}
.front-container form {
  width: 700px;
  /* background-color: red; */
}
.front-container button:hover {
  background-color: beige;
}
.front-container button:focus {
  background-color: white;
}

.register-container input,
.front-container input {
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 40%;
}
.register-container input:focus {
  outline: none;
}
input::placeholder {
  color: black;
}
.register-container button,
.front-container button {
  width: 6rem;
  /* margin-top: 10px;
  padding: 10px; */
  font-size: 15px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secret-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.secret-container h1 {
  padding-bottom: 20px;
}
@media all and (max-width: 1000px) {
  .register-container input {
  width:50%;
  }
}

@media all and (max-width: 720px) {

  button {
    font-size: 15px;
  }
  .header-container {
    height: 150px;

    box-sizing: border-box;
    display: grid;

    /* background-color: rebeccapurple; */
  }
  .header-container h1 {
    padding: 10px;
    font-size: 2.5rem;
  }
  .header-buttons {
    /* background-color: blue; */
    display: grid;
   grid-template-columns: 50%50%;
    width: 100%;
    justify-items: center;
  }
  .front-container {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
  }
  .front-container form {
    /* background-color: green; */
    width: 100%;
    display: grid;
    grid-template-rows: 50%50%;
    justify-items: center;
  }
  .front-container input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .register-container input {
    font-size: 12px;
    width: 70%;
  }
}
@media all and (max-width: 400px){
  .register-container input {
    width: 90%;
  }
}
@media all and (max-width: 330px){
.front-container input {
  padding:5px;
}
.header-container h1 {
  font-size: 2rem;
}
.header-container h1:hover {
border:none;
} 
button {
  font-size: 1rem;
}
}