* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: rgb(0 0 0, 0.87);
  box-sizing: border-box;
}
.App {
  height: 600px;
  width: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
}
.header-container {
  height: 20%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-container h1 {
  border-bottom: 1px solid black;
  font-size: 3rem;
}
.header-buttons {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
button {
  padding: 10px;
  background: white;
  border: transparent;
  font-size: 20px;
  border-radius: 50px;
}
button:hover {
  background-color: beige;
  border: 1px solid white;
}
/*?========================*/
.register-container,
.front-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-container input,
.register-container button,
.front-container input,
.front-container button {
  width: 40%;
}
.front-container form {
 width:700px;
  /* background-color: red; */
}

.register-container input,
.front-container input {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.register-container input:focus {
  outline: none;
}
input::placeholder {
  color: black;
}
.register-container button,
.front-container button {
  width: 6rem;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secret-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.secret-container h1 {
  padding-bottom: 20px;
}
